// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Muli:300,400|Open+Sans:400,700,800);
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.nav:hover{
  cursor: pointer;
}

body, html{
   overflow-x: hidden;
   background-color:  #444444;
   font-family: 'Muli', serif;
}

figure {
  margin: 0;
}

body {
  padding: 0;
  background-color: #f6f4f4;
}

p{
  font-size: 1.2em;
  font-family: 'Muli', serif;
}

a{
   color: rgb(246, 244, 244);
   :hover{
      text-decoration: none;
      color: rgb(246, 244, 244);
   }
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 3em;
  letter-spacing: 0.2em;
  color: #333;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.4em;
  color: rgb(22,160,133);
}

h4{
  margin-bottom: 0;
  margin-top: 0;
}

#head{
  margin-top: 130px;
}

#headIndexSite{
   margin-top: 130px;
}

.four-boxes > div > *{
   padding-bottom: 5px;
}

.margin-to-row{
  padding-top: 20px;
}

#work{
  margin: 70px 0;
  section{
    padding-top: 20px;
  }
  .row{
    padding: 100px 0 70px 0;
  }
}

#preloader{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background-color: #34495e;

   img{
    width: 50px;
    height: auto;
    @include vertical-align;
  }
}
/**** TEXT OVERFLOW CONCRETE ****/

.first-concrete-text-overlay {
  position: relative;
}

/* Common style */
.first-concrete-text-overlay figure {
  position: relative;
  text-align: left;
}

.first-concrete-text-overlay figure img {
  position: relative;
  display: block;
  height: 300px;
  width: 100%;
  opacity: 1;
}

.first-concrete-text-overlay figure figcaption {
  color: #fff;
  text-transform: uppercase;
}

.first-concrete-text-overlay figure figcaption,
.first-concrete-text-overlay figure figcaption > a {
  position: absolute;
  top: 50px;
  left: -50px;
  height: 100%;
}


.second-concrete-text-overlay {
  position: relative;
}

/* Second Concrete style */
.second-concrete-text-overlay figure {
  position: relative;
  text-align: left;
}

.second-concrete-text-overlay figure img {
  position: relative;
  display: block;
  height: 500px;
  width: 100%;
  opacity: 1;
}

.second-concrete-text-overlay figure figcaption {
  color: #fff;
  text-transform: uppercase;
}

.second-concrete-text-overlay figure figcaption,
.second-concrete-text-overlay figure figcaption > a {
  position: absolute;
  top: 80px;
  left: -50px;
  height: 100%;

}


.video-text-overlay{
  position: absolute;
  margin: 0;
  padding: 0;
}

/**** CENTERING ****/

.center-text-vertical {
  p,h4,h2{
    position: relative;
    top: 50%;
    	-webkit-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);
    }
}

.center-image-vertical {
  img{
    position: relative;
    top: 50%;
    	-webkit-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);
  }
}

.center-block-of-text-vertical{
  p,h4{
    position: relative;
    top: 50%;
    	-webkit-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);
  }
}

section {
  display: block;
  margin: 0 auto 1em;
}

.concrete-text-center h2{
  height:200px;padding-top:74px;text-align:center;
}
#curVideo{
  width: 100%;
  height: 80%;
}
figure#videoID{
  height: 800px;
}
#video-text-overlay{
  top: auto;
  bottom: 100px !important;
  font-size: 1.5em;
  height: 300px;
  left: 0;
  margin: 0;
  text-align: left;
  width: auto;
}

.aboutSection{
   margin: -14px 0 70px 0;

   h1, h2, h3{
      color: rgb(246, 244, 244);
   }
   h1{
    padding-top: 25px;
   }
   h2,h3{
    padding-bottom: 15px;
   }
   p{
      color: #F6F4F4;
      font-size: 1.6em;
      line-height: 26px;
      font-family: 'Muli', sans-serif;
      font-weight: 300;
      @media (max-width: 767px) {
         text-align: justify;
      }
      padding-bottom: 30px;
   }
   figcaption{
    top: 90px;
   }
}

#contactSection{
   color: #000;
   height: 100%;
   padding-bottom: 30px;
   text-align: center;

   h1,h2,h3{
      padding: 20px 0 0 0;
   }
   p{
      font-size: 1.6em;
      line-height: 26pt;
      font-family: 'Muli', sans-serif;
      font-weight: 300;
    }
    a{
      color: #000;
      text-decoration: none;
    }
}


/**** MY HACK ****/
/* centered columns styles */


/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
  #germanyMapBlock{
    margin: 0;
    padding: 0;
  }
  .center-block-of-text-vertical{
    p,h4{
      padding-left: 0;
    }
  }
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
  #germanyMapBlock{
    margin: 0;
    padding: 0;
  }
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {}
