// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Karma:300|Unica+One);

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body, html{
   overflow-x: hidden;
   background-color:  #444444;
}

body {
  padding: 0;
  background-color: #f6f4f4;
}

p{
  font-size: 1.2em;
  font-family: 'Karma', serif;
}

a{
   color: rgb(246, 244, 244);
   :hover{
      text-decoration: none;
      color: rgb(246, 244, 244);
   }
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 3em;
  letter-spacing: 0.2em;
  color: #333;
}

h3{
  font-family: 'Karma', serif;
  font-weight: 400;
  font-size: 1.4em;
  color: rgb(22,160,133);
}

h4{
  margin-bottom: 0;
  margin-top: 0;
}

#head{
  margin-top: 130px;
}

#headIndexSite{
   margin-top: 130px;
}

.four-boxes > div > *{
   padding-bottom: 5px;
}

.margin-to-row{
  padding-top: 20px;
}

#work{
  margin: 70px 0;
  section{
    padding-top: 20px;
  }
  .row{
    padding: 100px 0 70px 0;
  }
}

#preloader{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
/*   background-color: #34495e;
 */
   background-color: rgba(220,220,220,.5);
   img{
    width: 50px;
    height: auto;
    @include vertical-align;
  }
}


#concreteFirst{
    margin-top: -14px;
}
/**** TEXT OVERFLOW CONCRETE ****/

.concrete-text-overlay {
  position: relative;
}

/* Common style */
.concrete-text-overlay figure {
  position: relative;
  text-align: left;
}

.concrete-text-overlay figure img {
  position: relative;
  display: block;
  height: 100%;
  max-width: 100%;
  opacity: 1;
}

.concrete-text-overlay figure figcaption {
  color: #fff;
  text-transform: uppercase;
}

.concrete-text-overlay figure figcaption,
.concrete-text-overlay figure figcaption > a {
  position: absolute;
  top: 0;
  height: 100%;
}


/**** CENTERING ****/

.center-text-vertical {
  p,h4,h2{
    position: relative;
    top: 50%;
    	-webkit-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);
    }
}

.center-image-vertical {
  img{
    position: relative;
    top: 50%;
    	-webkit-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);
  }
}

.center-block-of-text-vertical{
  p,h4{
/*     padding-left: 2em;
 */    position: relative;
    top: 50%;
    	-webkit-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);
  }
}

section {
  display: block;
  margin: 0 auto 1em;
/*   height: 250px;
 */
}
.about-text-center{
  height: 100%;
  top: 25%;
}

#video-text-overlay{
  margin: 0;
  width: auto;
  left: 0;
  text-align: left;
  margin-top: 30%;
}

#aboutSection{
   margin: -14px 0 70px 0;

   h1, h2, h3{
      color: rgb(246, 244, 244);
   }
   h1{
    padding-top: 25px;
   }
   h2,h3{
    padding-bottom: 15px;
   }
   p{
      color: #F6F4F4;
      font-size: 1.6em;
      line-height: 26pt;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      @media (max-width: 767px) {
         text-align: justify;
      }
      padding-bottom: 30px;
   }
   figcaption{
    top: 25%;
   }
}

#contactSection{
   color: #000;
   height: 100%;
   padding-bottom: 30px;
   text-align: center;

   h1,h2,h3{
      padding: 20px 0 0 0;
   }
   p{
      font-size: 1.6em;
      line-height: 26pt;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
    }
    a{
      color: #000;
      text-decoration: none;
    }
}


/**** MY HACK ****/
/* centered columns styles */


/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
  #germanyMapBlock{
    margin: 0;
    padding: 0;
  }
  .center-block-of-text-vertical{
    p,h4{
      padding-left: 0;
    }
  }
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
  #germanyMapBlock{
    margin: 0;
    padding: 0;
  }
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {}
