/* PROJECT PAGE STYLE */

#headProjectSite{
	margin-top: 0;top: 0;
	section{
		text-align: center;
		padding: 30px;
	}
	h1{
		font-size: 2em;
	}
	h3{
		font-size: 1.1em;
	}
	h1,h3{
		margin: 0;
		padding: 0;
	}
}
#head-coloured{
	background-color: rgb(246,244,244);
	padding-bottom: 5px;
	padding-top: 20px;
}
#projectRow{
	background-color: #444444;
}
#projectContainer{
	background-color: #444444;
	position: absolute;
	height: 100%;
	left: 0;
	padding-top: 30px;
	section{
		position: relative;
		top: 5px;
	}
}

#projectText{
	padding-bottom: 40px;
	position: relative;

	@media (min-width: 992px) {
		margin-top: 0;
		h3{
			margin-top: 40px;
			padding-bottom: 25px;
		}
	}

	p{
		color: #F6F4F4;
		font-size: 1.6em;
		line-height: 26pt;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}
	h3{
		font-size: 2em;
	}
}
#sublineProject{
	font-size: 1em;
}

.imagePadding{
	padding: 15px;
}
.fixed-md{
	@media (min-width: 992px) {
		position: fixed;
	}
	@media (max-width: 992px) {
		position: relative;
	}
}
