@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Karma:300|Unica+One);
/* line 14, ../../app/styles/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 21, ../../app/styles/main.scss */
body, html {
  overflow-x: hidden;
  background-color: #444444;
}

/* line 26, ../../app/styles/main.scss */
figure {
  margin: 0;
}

/* line 30, ../../app/styles/main.scss */
body {
  padding: 0;
  background-color: #f6f4f4;
}

/* line 35, ../../app/styles/main.scss */
p {
  font-size: 1.2em;
  font-family: 'Karma', serif;
}

/* line 40, ../../app/styles/main.scss */
a {
  color: #f6f4f4;
}
/* line 42, ../../app/styles/main.scss */
a :hover {
  text-decoration: none;
  color: #f6f4f4;
}

/* line 48, ../../app/styles/main.scss */
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 3em;
  letter-spacing: 0.2em;
  color: #333;
}

/* line 56, ../../app/styles/main.scss */
h3 {
  font-family: 'Karma', serif;
  font-weight: 400;
  font-size: 1.4em;
  color: #16a085;
}

/* line 63, ../../app/styles/main.scss */
h4 {
  margin-bottom: 0;
  margin-top: 0;
}

/* line 68, ../../app/styles/main.scss */
#head {
  margin-top: 130px;
}

/* line 72, ../../app/styles/main.scss */
#headIndexSite {
  margin-top: 130px;
}

/* line 76, ../../app/styles/main.scss */
.four-boxes > div > * {
  padding-bottom: 5px;
}

/* line 80, ../../app/styles/main.scss */
.margin-to-row {
  padding-top: 20px;
}

/* line 84, ../../app/styles/main.scss */
#work {
  margin: 70px 0;
}
/* line 86, ../../app/styles/main.scss */
#work section {
  padding-top: 20px;
}
/* line 89, ../../app/styles/main.scss */
#work .row {
  padding: 100px 0 70px 0;
}

/* line 94, ../../app/styles/main.scss */
#preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background-color: #34495e;
}
/* line 101, ../../app/styles/main.scss */
#preloader img {
  width: 50px;
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/**** TEXT OVERFLOW CONCRETE ****/
/* line 109, ../../app/styles/main.scss */
.first-concrete-text-overlay {
  position: relative;
}

/* Common style */
/* line 114, ../../app/styles/main.scss */
.first-concrete-text-overlay figure {
  position: relative;
  text-align: left;
}

/* line 119, ../../app/styles/main.scss */
.first-concrete-text-overlay figure img {
  position: relative;
  display: block;
  height: 300px;
  width: 100%;
  opacity: 1;
}

/* line 127, ../../app/styles/main.scss */
.first-concrete-text-overlay figure figcaption {
  color: #fff;
  text-transform: uppercase;
}

/* line 132, ../../app/styles/main.scss */
.first-concrete-text-overlay figure figcaption,
.first-concrete-text-overlay figure figcaption > a {
  position: absolute;
  top: 0;
  height: 100%;
}

/* line 140, ../../app/styles/main.scss */
.second-concrete-text-overlay {
  position: relative;
}

/* Second Concrete style */
/* line 145, ../../app/styles/main.scss */
.second-concrete-text-overlay figure {
  position: relative;
  text-align: left;
}

/* line 150, ../../app/styles/main.scss */
.second-concrete-text-overlay figure img {
  position: relative;
  display: block;
  height: 500px;
  width: 100%;
  opacity: 1;
}

/* line 158, ../../app/styles/main.scss */
.second-concrete-text-overlay figure figcaption {
  color: #fff;
  text-transform: uppercase;
}

/* line 163, ../../app/styles/main.scss */
.second-concrete-text-overlay figure figcaption,
.second-concrete-text-overlay figure figcaption > a {
  position: absolute;
  top: 0;
  height: 100%;
}

/* line 171, ../../app/styles/main.scss */
.video-text-overlay {
  position: absolute;
  margin: 0;
  padding: 0;
}

/**** CENTERING ****/
/* line 180, ../../app/styles/main.scss */
.center-text-vertical p, .center-text-vertical h4, .center-text-vertical h2 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 190, ../../app/styles/main.scss */
.center-image-vertical img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 200, ../../app/styles/main.scss */
.center-block-of-text-vertical p, .center-block-of-text-vertical h4 {
  /*     padding-left: 2em;
   */
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 210, ../../app/styles/main.scss */
section {
  display: block;
  margin: 0 auto 1em;
  /*   height: 250px;
   */
}

/* line 216, ../../app/styles/main.scss */
.about-text-center {
  height: 100%;
  top: 25%;
}

/* line 221, ../../app/styles/main.scss */
.concrete-text-center h2 {
  height: 200px;
  padding-top: 74px;
  text-align: center;
}

/* line 224, ../../app/styles/main.scss */
#curVideo {
  width: 100%;
  height: 80%;
}

/* line 228, ../../app/styles/main.scss */
figure#videoID {
  height: 800px;
}

/* line 231, ../../app/styles/main.scss */
#video-text-overlay {
  top: auto;
  bottom: 0 !important;
  font-size: 1.5em;
  height: 400px;
  left: 0;
  margin: 0;
  text-align: left;
  width: auto;
}

/* line 242, ../../app/styles/main.scss */
.aboutSection {
  margin: -14px 0 70px 0;
}
/* line 245, ../../app/styles/main.scss */
.aboutSection h1, .aboutSection h2, .aboutSection h3 {
  color: #f6f4f4;
}
/* line 248, ../../app/styles/main.scss */
.aboutSection h1 {
  padding-top: 25px;
}
/* line 251, ../../app/styles/main.scss */
.aboutSection h2, .aboutSection h3 {
  padding-bottom: 15px;
}
/* line 254, ../../app/styles/main.scss */
.aboutSection p {
  color: #F6F4F4;
  font-size: 1.6em;
  line-height: 26px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  /* line 254, ../../app/styles/main.scss */
  .aboutSection p {
    text-align: justify;
  }
}
/* line 265, ../../app/styles/main.scss */
.aboutSection figcaption {
  top: 90px;
}

/* line 270, ../../app/styles/main.scss */
#contactSection {
  color: #000;
  height: 100%;
  padding-bottom: 30px;
  text-align: center;
}
/* line 276, ../../app/styles/main.scss */
#contactSection h1, #contactSection h2, #contactSection h3 {
  padding: 20px 0 0 0;
}
/* line 279, ../../app/styles/main.scss */
#contactSection p {
  font-size: 1.6em;
  line-height: 26pt;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
/* line 285, ../../app/styles/main.scss */
#contactSection a {
  color: #000;
  text-decoration: none;
}

/**** MY HACK ****/
/* centered columns styles */
/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
  /* line 298, ../../app/styles/main.scss */
  #germanyMapBlock {
    margin: 0;
    padding: 0;
  }

  /* line 303, ../../app/styles/main.scss */
  .center-block-of-text-vertical p, .center-block-of-text-vertical h4 {
    padding-left: 0;
  }
}
/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
  /* line 311, ../../app/styles/main.scss */
  #germanyMapBlock {
    margin: 0;
    padding: 0;
  }
}
/* Medium Devices, .visible-md-* */
/* Large Devices, .visible-lg-* */