<!-- Add your site or application content here -->
<div class="header">
   <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
         <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>

            <!--         <a class="navbar-brand" href="#/">dsteinel2015</a>
         -->      </div>

         <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav pull-right">
               <li class="active"><a href="#">Start</a></li>
               <li><a ng-href="#about">Work</a></li>
               <li><a ng-href="#">Team</a></li>
               <li><a ng-href="#">Impressum</a></li>
            </ul>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid" id="headIndexSite">
   <section>
      <div class="row">
         <div class="col-xs-10 col-xs-offset-1">
            <img src="images/mathematix_title.jpg" alt="Djado" class="img-responsive">
         </div>
      </div>
   </section>

<section>
   <div class="row" id="whatIDo">
      <div class="center-block text-center">
         <h1>WHAT I DO</h1>
         <p>
            selected work
         </p>
      </div>
   </div>
</section>

<section id="aboutSection">
   <div class="row">
      <div class="center-block text-center">
         <h1>ABOUT ME</h1>
         <!--             <h3>Skillset</h3>
      -->        </div>
   </div>
   <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
         <p>
            Hej, ich bin Dimitri Steinel, Interaction Designer aus Ulm, wohnhaft in Berlin. Ich habe meinen Bachelor of Arts im Februar 2015 an der BTK-FH abgeschlossen.
            Neben dem Studium habe ich einige freiberufliche Projekte erstellt, die genau den Bereich des creative developments treffen. Ich habe zeitweise als Designer und zeitweise als Programmierer gearbeitet und Projekte erschaffen bei denen ich beide Seiten bedient habe. Beim Erstellen eines Projektes denke ich nicht nur an das eigene Bedürfnis, sondern plane für den User und arbeite Zielgruppengerecht, sodass die Anwendung bestmöglich bedienbar wird. Mein Portfolio zeigt, dass ich nicht nur im Umgang mit HTML, CSS und Javascript sicher bin, sondern auch Projekte mit anderen Programmiersprachen wie Python, C++ oder Java umsetzen kann. Als Interactiondesigner arbeite ich interdisziplinär und versuche immer den bestmöglichen Weg zu finden um lange aktuell zu bleiben.
            Mit Tilman Reiff und Volker Morawe habe ich die Ausstellungsreihe SPIELTRIEB! die momentan mit dem Goethe-Institut durch Osteuropa tourt, vorbereitet und einige Installationen der Gruppe mit konzipiert und neu aufgebaut. Außerdem organisiere (betreue) ich momentan den Abbau der jeweiligen Ausstellung.
            Meine Stärke liegt in der Planung und Ausarbeitung von Projekten. Auch das einhalten von Deadlines war für mich noch nie ein Problem.
         </p>
      </div>
   </div>
</section>

<section id="contactSection">
   <div class="row">
      <div class="center-block text-center">
         <h1>Contact ME</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
         <p>
            Dimitri Steinel
            <br>
            <a href="#">Dimitri.Steinel@gmail.com</a>
            <br>
            0152-08715993
         </p>
      </div>
   </div>
</section>
