
<div class="container-fluid" id="headProjectSite">
 <section>
  <div class="row" id="head-coloured">
   <div class="center-block text-center">
    <img src="images/noumiafilm-logo.svg" alt="noumia logo" height="70px">
  </div>
</div>
</div>
</section>

<div class="container-fluid">
  <section>
    <div class="row">
      <div class="hover-effect-grid col-lg-12">
       <figure class="concrete-text-overlay">
        <video ng-src="{{video}}" width="100%" height="auto" autoplay></video>
        <figcaption class="col-lg-3 col-lg-offset-1 pull-left" id="video-text-overlay">
         <h2><span>{{projectDescription}}</span></h2>
         <p id="sublineProject">
           {{sublineProject}}
         </p>
       </figcaption>
     </figure>
   </div>
 </div>

</section>
</div>
